<div class="footer-dark">
    <footer>
        <!-- <div class="container"> -->
            <div class="row">
                
                <div class="col item social">
                    <a href="https://www.facebook.com/profile.php?id=100008773902927" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://instagram.com/lovely_sharma0812" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="https://github.com/CoderLovely08" target="_blank"><i class="fab fa-github"></i></a>
                    <a href="https://linkedin.com/in/lovely-sharma-a54022214" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://t.me/CoderLovely08" target="_blank"><i class="fab fa-telegram"></i></a>
                    
                    <br>
                    <!-- <br> -->
                        <h4>Connect with me on Social Media</h4>
                </div>
                <div class="col-md-6 item text">
                    <h5>Click <a href="https://github.com/CoderLovely08/study-resource-website">here </a>to make a contribution to this project and imporve the existing UI.</h5>
                </div>
            </div>
            <p class="copyright">Creator Om Khandale © 2023</p>
        <!-- </div> -->
    </footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="script/script.js"></script>


</body>

</html>