<%- include("partials/header") -%>
    <div class="container">
        <!-- Button to trigger modal -->

  
  
  
    </div>
    <script>
        $(document).ready(function () {
            function addLoadingSpinner() {
                $('#loading-overlay').addClass('loading-overlay');
                $('#spinner').addClass('spinner');
            }

            function removeLoadingSpinner() {
                $('#loading-overlay').removeClass('loading-overlay');
                $('#spinner').removeClass('spinner');
            }
        })


    </script>
    <%- include("partials/footer") -%>